@mixin background-image($url, $position: 'center', $size: 'cover') {
  background: {
    image: url($url);
    repeat: no-repeat;
    position: $position;
    size: $size;
  };
}

@mixin positioned-element($width: 1rem, $height: 1rem ) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
}


@mixin fontFace($fontName, $fileName, $fontWeight: normal, $fontStyle: normal) {

  font: {
    family: $fontName, sans-serif;
    display: swap;
    weight: $fontWeight;
    style: $fontStyle;
  }
  src: url("/assets/fonts/#{$fileName}.woff") format("woff"),
  url("/assets/fonts/#{$fileName}.woff2") format("woff2");
}

